<h3>Add Comment</h3>
<%= form_for @comment, :html => {:class => 'comment_form'} do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :recipe_id, value: @recipe.id %>
  <%= f.text_area :content %>
  <%= f.submit "Submit" %>
<% end %>
