
<h2><%= food_display(@recipe) %></h2>

<ul>
  <li>Time in hours: <%= @recipe.time %></li>
  <li>Temp in Fahrenheit: <%= @recipe.temp %></li>
  <li>Smoker: <%= @recipe.smoker.name %></li>
  <li>Smoker Type: <%= @recipe.smoker.smoker_type %></li>
  <li>Rub: <%= @recipe.rub %></li>
  <li>Wood: <%= @recipe.wood %></li>
  <li>Wrap: <%= @recipe.wrap %></li>
  <li>Result: <%= @recipe.result %></li>
  <li><%= image_tag @recipe.results_image.url(:medium) %></li>
</ul>
<br>

<div>
  <h2>Comments</h2>
  <ul id="comments">
  </ul>
</div>

<%= render partial: "comments/form" %>
<%=edit_if_allowed(@recipe.user)%><br>
<%=delete_if_allowed(@recipe.user)%>

<script type="text/javascript" charset="utf-8">
  //const comment_data_array= $.get("/recipes/" + <%= @recipe.id %> + ".json")["comments"];
  //debugger;
  //comment_data_array.forEach(function(comment_data){
  //  $("#comments").append(`<li>${comment_data["content"]}</li><br><li>Submitted by: ${comment_data["user"]["username"]}</li><br><br>`);
  //});

  $.get("/recipes/" + <%= @recipe.id %> + ".json", function(recipe_data){
    recipe_data["comments"].forEach(function(comment_data){
      $("#comments").append(`<li>${comment_data["content"]}</li><br><li>Submitted by: ${comment_data["user"]["username"]}</li><br><br>`);
    });
  });

</script>
