
<h2><%= food_display(@recipe) %></h2>

<ul>
  <li>Time in hours: <%= @recipe.time %></li>
  <li>Temp in Fahrenheit: <%= @recipe.temp %></li>
  <li>Smoker: <%= @recipe.smoker.name %></li>
  <li>Smoker Type: <%= @recipe.smoker.smoker_type %></li>
  <li>Rub: <%= @recipe.rub %></li>
  <li>Wood: <%= @recipe.wood %></li>
  <li>Wrap: <%= @recipe.wrap %></li>
  <li>Result: <%= @recipe.result %></li>
</ul>
<br>

<%=edit_if_allowed(@recipe.user)%><br>
<%=delete_if_allowed(@recipe.user)%>
