<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this account from being created:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>


<%= form_for @user, controller: 'users', action: 'create' do |f| %>
  Username: <%= f.text_field :username %><br>

  Password: <%= f.password_field :password %><br>

  Confirm Password: <%= f.password_field :password_confirmation %><br>

  <%= f.submit "Create Account" %>
<% end %>
